section.advantages
    h2.visually-hidden Наши преимущества
    ul.advantages__list
        li.advantages__item
            h3.advantages__title Доставка
            ul.advantages__sublist
                li.advantages__subitem В Европу и страны "СНГ"
                li.advantages__subitem Курьерская доставка 2-5 рабочих дней: бесплатно
            a.advantages__link(href="#") Читать дальше
        li.advantages__item
            h3.advantages__title Гарантия
            ol.advantages__sublist
                li.advantages__subitem 3-6 месяцев на продукт в зависимости от производителя
                li.advantages__subitem На полный возврат денег или обмен товара в случае производственного брака
                li.advantages__subitem На получение клиентом номера слежения посылки
            a.advantages__link(href="#") Читать дальше
        li.advantages__item
            h3.advantages__title Оплата
            ul.advantages__sublist
                li.advantages__subitem Способы оплаты: VISA, MASTER CARD, AMERICAN EXPRESS, PayPal
                li.advantages__subitem Возврат денег в случае брака: Гарантированно
            a.advantages__link(href="#") Читать дальше