section.catalog
    h2.visually-hidden Каталог
    ul.catalog__list
        li.catalog__item
            a.catalog__link(href="#")
                h3.catalog__title Борды
                img.catalog__cover(src="img/category-boards.jpg", alt="Борды")
        li.catalog__item
            a.catalog__link(href="#")
                h3.catalog__title Самокаты
                img.catalog__cover(src="img/category-scooters.jpg", alt="Самокаты")
        li.catalog__item
            a.catalog__link(href="#")
                h3.catalog__title Защита
                img.catalog__cover(src="img/category-protection.jpg", alt="Защита")
        li.catalog__item
            a.catalog__link(href="#")
                h3.catalog__title Баланс байк
                img.catalog__cover(src="img/category-balance_bikes.jpg", alt="Баланс байк")
        li.catalog__item
            a.catalog__link(href="#")
                h3.catalog__title Запчасти Аксессуары
                img.catalog__cover(src="img/category-accessories.jpg", alt="Запчасти Аксессуары")
        li.catalog__item
            a.catalog__link(href="#")
                h3.catalog__title Йо-йо
                img.catalog__cover(src="img/yo-yo.jpg", alt="Йо-йо")
        li.catalog__item
            a.catalog__link(href="#")
                h3.catalog__title Электроскутер
                img.catalog__cover(src="img/category-electric_scooters.jpg", alt="Электроскутер")
        li.catalog__item
            a.catalog__link(href="#")
                h3.catalog__title Ролики
                img.catalog__cover(src="img/category-rollers.jpg", alt="Ролики")