footer.footer
    p add nav from header

    .footer__bottom
        .footer__contacts
            a(href="tel:+37122220055")
                b +371 22220055
            a(href="mailto:info@scooterman.com") info@scooterman.com

        .social
            ul.social__list
                li.social__item
                    a(href="#" aria-label="Facebook")
                li.social__item
                    a(href="#" aria-label="Instagram")

        p.copyright scooterman.net &copy; 2018