header.header
    .logo
        a.logo__link(href="#")
            img(src="img/logo.svg", alt="Scooterman.net", width="190" height="190")
            span.logo__title Scooterman

    nav.nav
        ul.nav__list
            li.nav__item
                a(href="#").nav__link Каталог
            li.nav__item
                a(href="#").nav__link Оплата и доставка
            li.nav__item
                a(href="#").nav__link Гарантии
            li.nav__item
                a(href="#").nav__link Отзывы
            li.nav__item
                a(href="#").nav__link Контакты

    .header__contacts
        a(href="tel:+37122220055")
            b +371 22220055
        a(href="mailto:info@scooterman.com") info@scooterman.com

    .cart
        p 3 тов.
        span 26 600р.

    .languages
        p ru