.hero-slider
    .hero-slider__item
        p.hero-slider__title
            b.hero-slider__lead-text Новая коллекция 2015 года
            |  начни сезон первым!
        a.hero-slider__link(href="#")
            img(src="img/hero.jpg", alt="Новая коллекция 2015 года начни сезон первым!")
            span.hero-slider__read-more подробней об акции

    a(href="#") Онлайн консультант