.home-icons
    ul.home-icons__list
        li.home-icons__item
            p.home-icons__title VISA, mastercard,
            p.home-icons__subtitle american express
        li.home-icons__item
            p.home-icons__title Pay pal
        li.home-icons__item
            p.home-icons__title Web money
        li.home-icons__item
            p.home-icons__title Free delivery