.product-card
    a(href="#")
        h3
            b.product-card__title Pro-tec matte
            span.product-card__subtitle матовая каска голубого цвета
        .product-card__cover
            img(src="img/product-1.jpg", alt="Pro-tec matte")
        p.product-card__desc отличается высокой прочностью и качеством.
    ul.product-card__colors-list
        li.product-card__colors-item.product-card__colors-item--red
        li.product-card__colors-item.product-card__colors-item--blue
        li.product-card__colors-item.product-card__colors-item--pink
    .product-card__labels
        p.label.label--super-price Супер цена
        p.label.label--best Best
        p.label.label--new Новый
        p.label.label--not-available Нет в наличии
    a.product-card__add-to-card(href="#") В корзину
    p.product-price
        span.product-price__current 3 500 р.
        span.product-price__old 4 200 р.