ul.product-list
    li.product-list__item
        include product-card
    //- li.product-list__item
    //-     include product-card
    //- li.product-list__item
    //-     include product-card

a(href="#") Больше товаров показать еще 20